html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font: 14px/1.4 var(--font-ui);
  color-scheme: dark;
}

[data-theme="light"] body {
  color-scheme: light;
}

#app {
  height: 100%;
  overflow: hidden;
}

* {
  scrollbar-color: var(--color-scrollbar-thumb) transparent;
}
